:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris_oscuro: #666;
    --gris_claro: #ebebeb;
    --Verde: #39b54a;

}

* {
    padding-top: 0px;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*header*/
header {
    background-color: var(--amarillo);
    font-family: 'Roboto', sans-serif;
    padding-bottom: 15px;

}

.main-header-top {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    width: 100%;
    max-width: 300px;
    display: flex;
    margin: auto;
}

.input {
    display: flex;
    justify-content: center;
    padding: 10px 0 ;  
}

.input__barra{
    width: 100%;
    margin: center;
    max-width: 380px;
}

.main-navbar {
    display: none;
    color: #1259c3;
}

.main-navbar ul {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.left-navbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.rigth-navbar {
    display: flex;
    flex-direction: row;
    justify-content: right;
}


.main-navbar a {
    margin: 8px;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 0px;
    font-size: 17px;
}

.copy-header {
    text-align:center;
    font-size: 18px;
    font-weight: normal;
    padding: 10px;
    flex-grow: 0.5;
    white-space: nowrap;
    
}

.burger-menu {
    background-color: #1259c3;
    color: white;
    display: block;
    width: 50px;
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

/*medias para el header*/
@media (min-width: 624px){
    .main-header-top{

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        
    }
    .logo{
        flex-grow: 0.5;
    }
    .input{
        flex-grow: 0.5;
    }


}

@media (min-width: 760px) {
    .main-header-top-bar {

        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: space-around;
        flex-wrap: wrap;
    }

    .copy-header {
        width: 350px;
        text-align: right;
    }

    .burger-menu {
        display: none;
    }

    .main-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-around;
    }

}

@media (min-width: 1200px){
    .logo{
        width: 250px;
    }
    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        margin: auto;
    }
    .main-navbar{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-around;
    }
    .copy-header{
        align-items: center ;
    }

    }
    .copy-header{
        max-width: none;
        font-size: 18px;
        font-weight: 400;
    }
    .footer_div{
        display: flex;
    }


/*main*/
.main {
    width: 90%;
    margin: auto;
    background-color: var(--gris_claro);
    padding: 0%;
    padding-bottom: 15px;
    
}

.productos {
    padding: 10px;
    border-top: 1px solid #ebebeb;
    margin: 15px;
    line-height: 17px;
    justify-content: center;
    width: 250px;

}

.imagenes:hover{
    background-color:  #cecbcb;
    padding: 7px;
   

}

.imagenes {
    width: 200px;
    background-color: #b4b3b3;
    padding-bottom: 10px;
}

.productos__precio_descuento {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.descuento {
    font-size: 16px;
    color: #39b54a;
    display: flex;
    flex-grow: 0.7;
}

.product-desc-box .porduct-delivery-icon {
    color:#39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
}
.product-desc-box {
    position: relative;
    }

.descripcion:hover{
    background-color: #EAC926;
}

/*media del main*/

@media (max-width: 361px) {
    .descripcion {
        display: none;
        

    }
}

/* footer */
footer article {
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 15px;
    padding-top: 35px;


}

.footer-titulos {
    font-size: 24px;
    line-height: 32px;


}

footer .fas {
    font-size: 70px;
    color: #1259c3;

}

.footer_div i:hover{
    color: #6284b8;
}

.Copyright {
    color: #666;
    ;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}