:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris_oscuro: #666;
    --gris_claro: #ebebeb;
    --Verde: #39b54a;

}

* {
    padding-top: 0px;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main-header {
    background-color: #EAC926;
    

}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    border:solid 2px black;
}
.input {
    width: 32.5%;
    border:solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input__barra {
    width: 70%;
    height: 25%;
}

.input--buttom {
    width: 25%;
    height: 25%;
}

.copy-header {
    width: 32.5%;
    border:solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-header-top-bar {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-navbar {
    border:solid 2PX black;
    display: flex;
    justify-content: space-between;

}

.left-navbar {
    border: solid 2px black;
    display: flex;
    flex-wrap: wrap;
} 

.right-navbar {
    border: solid 2px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

a {
    border: solid 2px black;
    margin: 15px;
}

.burger-menu {
    display: none;
}